# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# FastF1 Cache
cache/

# Build / Packaging
dist/
build/
*.egg-info/
